{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:node/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "node", "prettier"],
  "env": {
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/switch-exhaustiveness-check": "error",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "no-process-exit": "off"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true
    },
    "project": "./tsconfig.json",
    "sourceType": "module"
  }
}
